.product-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1400px;
    margin: 20px auto 0;
}

.product-wrapper > div {
    flex: 0 1 calc(50% - 20px);
    border: 1px solid #2f85cc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 10px;
    background: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-wrapper > div img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.product-wrapper > div h3 {
    color: #000000;
    margin-bottom: 10px;
}

.product-wrapper > div p {
    color: #666;
    margin-bottom: 10px;
}

.product-wrapper > div:last-child {
    border-bottom: none;
}
.icon-spacing {
    margin-right: 5px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
}
.product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}


.product-item-list {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-height: 100%;
    /*align-items: center;*/

}
.cart-button {
    margin: 0 0 20px 89%;
}

@media (max-width: 768px) {
    .cart-button {
        margin: 0 0 20px 75%;
    }
    .products-container {
        grid-template-columns: 1fr;
    }
}



.icon-spacing {
    margin-right: 5px;
}


@media (max-width: 768px) {
    .product-wrapper {
        width: 100%;
    }

    .product-wrapper > div {
        flex-basis: 100%;
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px;
    }
}