.manage-users {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #ecf0f1;
    color: #333;

    
}

.manage-users h1 {
    color: #333;
}

.manage-users form {
    margin-bottom: 20px;
}

.manage-users input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.manage-users button {
    padding: 8px 15px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.manage-users button:hover {
    background-color: #2f00ff;
}

.user-item {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.user-item h3 {
    margin: 0;
    color: #555;
}

.button-user {
    height: 48px;
    padding: 0 30px;
    margin: 10px;
    border: none;
    background: linear-gradient(45deg, #37474f, #414141);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    position: relative;
    overflow: hidden;
    letter-spacing: 0.5px;
}

.button-user:hover {
    background: linear-gradient(45deg, #b6b6b6, #111111);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.button-user:active {
    background: linear-gradient(45deg, #4d4d4d, #2c2c2c);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
}

/* Эффект волны при нажатии */
.button-user:before {
    content: '';
    position: absolute;
    width: 120%;
    height: 120%;
    background: rgba(255, 255, 255, 0.3);
    display: block;
    transform: translate(-50%, -75%) rotate(45deg);
    transition: all 0.5s ease;
    opacity: 0;
    border-radius: 30px;
}

.button-user:active:before {
    opacity: 1; /* Показать эффект волны */
    transform: translate(-50%, -50%) rotate(45deg);
    transition: 0s;
}


.user-item button {
    margin-left: 10px;
    background-color: #dc3545;
}

.user-item button:hover {
    background-color: #c82333;
}