.password-reset-form {
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 1600px;
    margin: 20px auto 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #ecf0f1;
    color: #333;
}

/*.wrapper-form-reset {*/
/*    width: 400px;*/
/*    background: #ffffff;*/
/*    padding: 20px;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    gap: 10px;*/
/*    margin: 20px;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

.password-reset-form h2 {
    text-align: center;
}

.password-reset-form form {
    display: flex;
    flex-direction: column;
}

.password-reset-form label {
    margin-bottom: 5px;
}

.password-reset-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.password-reset-form button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.password-reset-form button:hover {
    background-color: #2980b9;
}
