.password-reset-form {
    max-width: 1600px;
    margin: 20px auto 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: transparent;
    color: #333;
}

.password-reset-form h2 {
    text-align: center;
}

.password-reset-form form {
    display: flex;
    flex-direction: column;
}

.password-reset-form label {
    margin-bottom: 5px;
}

.password-reset-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.password-reset-form button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.password-reset-form button:hover {
    background-color: #2980b9;
}
