.scroll-to-top {
    position: fixed;
    bottom: 2rem;
    right: 50px;
    background-color: #3498db; /* Or any color that matches your design */
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    cursor: pointer;
    opacity: 1; /* Set to 1 for debugging */
    transition: opacity 0.3s;
    z-index: 1200; /* Ensure it's above other elements */
    border: 2px solid red; /* Temporary border for debugging */
}

.scroll-to-top:hover {
    opacity: 1; /* Fully opaque on hover */
}
@media (max-width: 1000px) {
    .scroll-to-top button {
        position: fixed;
        bottom: 2rem;
        right: 50px;
    }
}
