.search-results-container {
    max-width: 1400px;
    margin: 20px auto 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: transparent;
    color: #333;
    padding: 20px;
}

.search-results-title {
    margin: 0 auto auto;
    color: #333;
    font-size: 24px;
}

.search-results-list {
    list-style: none;
    padding: 0;
}

.search-results-list-item {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.search-results-list-item:last-child {
    border-bottom: none;
}

.search-results-list-item-title {
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
}

.search-results-list-item-title:hover {
    text-decoration: underline;
}