.manage-products {
    max-width: 1400px;
    margin: 50px auto 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #ecf0f1;
    color: #333;
    font-family: 'Arial', sans-serif;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.manage-products h1 {
    color: #333;
}

.manage-products form {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.manage-products input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex: 1 1 200px;  /* Адаптивная ширина поля ввода */
}

.manage-products button {
    padding: 8px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex: 0 0 auto; /* Кнопка не растягивается */
}

.manage-products button:hover {
    background-color: #218838;
}

.product-item {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.product-item h3 {
    margin: 0;
    color: #555;
}

.product-item button {
    margin-left: 10px;
    background-color: #dc3545;
}

.product-item button:hover {
    background-color: #c82333;
}
