/* Keyframes for the scrolling effect */
@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Make sure the ticker starts off the screen and ends off the screen smoothly */
.ticker-content {
    display: flex; /* changed to flex to ensure items are aligned in a row */
    animation: scroll-left 290s linear infinite; /* Adjust the time as needed */
    background-color: #b9b9b9;
}

/* Ensure that the animation keeps running smoothly without jumps */
.ticker-item {
    /* Your existing styles */
    /* Add a margin to the right of each item to keep a gap between iterations */
    margin-right: 2rem;
}

/* You may want to ensure that the ticker takes up the full width of the container */
.ticker {
    width: 100%;

    /* Other styles */
}
.ticker-wrap {
    height: 30px;
}
