.header {
    font-size: 20px;
  }
  
  .header-top {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: white;
    padding: 0 20px;
    height: 25px;
  }
  
  .header-bottom {
    background: linear-gradient(to top, #ffffff 0%, #3a3a3a 100%);
    padding: 10px 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .header-logo a {
    color: white;
    text-decoration: none;
    
  }
  .header-logo img {
    height: 50px; 
    width: auto; 
}
  
  .header-logo {
    font-size: 30px;
  }
  
  .header-nav a {
    color: white;
    text-decoration: none;
      padding: 0 30px 0 0;
  }
  
  .header-nav a:hover {
    color: #0c77be;
  }

  .header-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
  }
.button {
    height: 48px;
    padding: 0 30px;
    margin: 10px;
    border: none;
    background: linear-gradient(45deg, #37474f, #414141);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    position: relative;
    overflow: hidden;
    letter-spacing: 0.5px;
}

.button:hover {
    background: linear-gradient(45deg, #b6b6b6, #111111);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.button:active {
    background: linear-gradient(45deg, #4d4d4d, #2c2c2c);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
}

/* Эффект волны при нажатии */
.button:before {
    content: '';
    position: absolute;
    width: 120%;
    height: 120%;
    background: rgba(255, 255, 255, 0.3);
    display: block;
    transform: translate(-50%, -75%) rotate(45deg);
    transition: all 0.5s ease;
    opacity: 0;
    border-radius: 30px;
}

.button:active:before {
    opacity: 1; /* Показать эффект волны */
    transform: translate(-50%, -50%) rotate(45deg);
    transition: 0s;
}



.button-group {
    position: relative;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .menu-button {
    display: none;
  }

  .search-form {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    max-width: 600px;
  }

  .search-input {
    height: 22px;
    width: 600px;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #e7e5e5;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
  }

  .search-button {
      height: 48px; /* Высота кнопки */
      padding: 0 30px; /* Внутренние отступы */
      margin: 10px; /* Внешний отступ */
      border: none; /* Убрать стандартный бордюр */
      background: linear-gradient(45deg, #37474f, #414141);
      color: white; /* Цвет текста */
      font-size: 16px; /* Размер текста */
      font-weight: 600; /* Жирность текста */
      border-radius: 15px; /* Скругление углов */
      cursor: pointer; /* Изменение курсора на указатель */
      transition: all 0.3s ease; /* Плавный переход всех свойств */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень кнопки */
      outline: none; /* Убрать стандартный фокус */
      position: relative; /* Позиционирование относительно */
      overflow: hidden; /* Скрыть все что выходит за границы кнопки */

  }

    .search-button:hover {
        background: linear-gradient(45deg, #b6b6b6, #111111); /* Градиентный фон при наведении */
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Тень кнопки при наведении */
    }

    .search-button i {
      font-size: 16px;
    }
@media (max-width: 1000px) {
    .header-bottom {
        height: 120px;
}
    .wrap {
        display: block;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .header-controls {
        position: absolute;
        top: 20px;
        right: 0;
    }
}
/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {

    .search-button {
        width: 30%;
    }

  .header-controls {
      display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
}
    .header-controls {
        position: absolute;
        top: 140px;
        right: 0;
    }
  .button {
    width: 80%;
    margin-bottom: 10px;
      font-size: 11px;
}

  .search-form {
    order: 1;
    width: 100%;
    margin-top: 10px;
}
  .search-input {
    height: 22px;
    width: 600px;
    padding: 8px 12px;
    font-size: 16px;
    outline: none;
  }

  .header {
      flex-direction: column;
      align-items: center;
      max-width: 91%;
  }
 
  .wrap {
    flex-direction: column;
    justify-content: left;
      width: 100%;
  }
    .menu-button {
        display: block;
        background-color: #000;
        border: none;
        height: 48px;
        color: rgb(255, 255, 255);
        font-size: 30px;
        margin: 0;
        z-index: 1010;
  }
  .menu-button :active {
    background-color: #000;
  }

  .header-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 190px;
      max-width: 100%;
}
  .header-top {
      height: 50px;
      width: 100%;
      display: flex; 
      justify-content: space-between;
  }

  .header-nav {
      position: fixed; 
      top: 0; 
      left: 0; 
      width: 100%; 
      flex-direction: column; 
      background-color: #000;
      z-index: 1000; 
      overflow: hidden; 
      transition: max-height 0.3s ease-in-out; 
      max-height: 0;
  }

  .header-nav.active {
      color: white;
      max-height: 100vh; 
      padding-top: 60px;
  }

  .header-nav a {
      color: white; 
      text-decoration: none;
      padding: 10px 20px; 
      display: block; 
      border-bottom: 1px solid white; 
      margin-left: 10px;
  }

  .header-nav a:hover {
      background-color: #f5f5f5; 
      color: #ffebeb;
  }

  .header-nav a:last-child {
      border-bottom: none; 
  }

  .header-bottom {
      position: relative;
      z-index: 10;
      background-color: transparent; 
      width: 100%; 
      padding: 10px 20px; 
  }

  .header-logo img {
      height: 50px; 
      width: auto;
  }

  button, .button-auth {
      background-color: #4b4b4b;
      color: white; 
      
  }
}