.header {
    display: flex;
    align-items: center;
    background-color: #000;
    color: white;
    font-family: 'PT Serif', serif;
    position: relative;
    height: 50px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}
/* Скрыть гамбургер-меню на десктопе и показать навигацию */
.menu-button {
    display: none;
    background: transparent;
    width: 40px;
    height: 30px;
    border: hidden;
    font-family: 'PT Serif', serif;
    font-size: 20px;
}

.header nav {
    display: flex;
    justify-content: center;

}

.header nav a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    font-size: 1em;
    transition: color 0.3s;
}

.header nav a:hover {
    color: #bdc3c7;
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
    .header {
        justify-content: flex-start;
    }
    .wrap {
        justify-content: flex-start;
    }

    .menu-button {
        color: white;
        display: block;
        margin-right: 30px;
        width: 80px;
        height: 40px;

    }

    .header nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        right: 0;
        display: none;
        flex-direction: column;
        background-color: #000;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        z-index: 1000;
        font-family: 'PT Serif', serif;
        overflow: hidden;
        max-height: 0;
        text-align: left;
        transition: max-height 0.3s ease;

    }

    .header nav a {
        box-sizing: border-box;
        width: 100%;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        display: block;
        border-bottom: 1px solid white;
    }
    .header nav a:hover {
        background-color: #333;
    }

    .header nav a:last-child {
        border-bottom: none;
    }

    .header nav.active {
        display: flex;
        flex-direction: column;
        max-height: 500px;

    }
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button-auth {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
}

button:hover {
    background-color: #2980b9;
}

.button-group {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}