.footer {
    display: flex;
    justify-content: center;
    background-color: #000;
    color: white;
    text-align: center;
    width: 100%;
    max-width: 1400%;
    height: 25px;
}

.footer p {
    margin: 0;
    font-size: 1em;
    padding: 5px 0 0;
}
