/* Основні стилі для .news-feed */
.news-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Змінено з space-between для більшого контролю */
    max-width: 1400px;
    margin: 100px auto;
    width: 80%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Yahoo Sans Finance', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Стилі для кожної новини */
.news-item {
    background-color: #ececec;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    
    /* Встановлюємо базову ширину для елементів */
    flex-basis: calc(50% - 20px); /* ширина елемента мінус відступи */
    max-width: calc(50% - 20px); /* максимальна ширина елемента мінус відступи */
    box-sizing: border-box; /* padding і border враховуються в загальній ширині елемента */
}

.news-item img {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.news-item:hover {
    transform: scale(1.02);
}
.news-image {
    width: 100%;
}



/* Заголовки новин */
.news-item h3 {
    color: #000000;
    margin: 0 0 10px 0;
}

/* Текст новин */
.news-item p {
    color: #333;
    line-height: 1.6;
    margin: 0;
}

/* Стилі для контейнера новин і сайдбару */
.news-container {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.news-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Вирівнювання елементів на початку контейнера */
    align-items: flex-start;
    flex: 3; /* 2/3 ширини */
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.news-header {
    width: 100%;
    text-align: center;
}

.sidebar {
    flex: 1; /* Займає 1 частину з 3 */
    background-color: #ffffff;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 600px;
    order: 2; /* Поміщаємо сайтбар під блок новин */
    max-width: 95%; /* Сайтбар займатиме всю ширину */
}

/* Медіа-запити для адаптивності */
@media (max-width: 1024px) {
    .news-item {
        flex: 0 0 calc(50% - 20px); /* Дві новини в рядок для планшетів */
    }
}

    

@media (max-width: 768px) {
    .news-feed {
        width: 100%; /* Вся ширина для мобільних */
        margin-top: 10px;
        padding: 15px;
    }
    .news-item {
        flex: 0 0 100%; /* Одна новина на рядок для мобільних */
        max-width: 100%;
        margin-bottom: 20px;
    }

    
    .news-items {
        /* Інші стилі */
        max-width: 100%; /* Блок новин займатиме всю ширину */
    }
    .news-container {
        flex-direction: column;
    }
}


@media (max-width: 480px) {
    .news-item h3 {
        font-size: 1.5em; /* Менший розмір заголовків для мобільних */
    }
}
