

.news-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block;
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.news-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 4;
    margin-bottom: 20px;
    background-color: transparent;
}

.news-header {
    width: 100%;
    text-align: center;
}



@media (max-width: 768px) {
    .news-feed {
        width: 100%;
        margin-top: 10px;
        padding: 15px;

    }

    .news-item {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0 auto;

    }

    .news-items {
        width: 100%;
        padding-left: 0;

    }
    .news-container {
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .news-item h3 {
        font-size: 1.5em;
    }
}
